@import "mobile/_cart.scss";

.page-cart{
    .site-header__catalog{
    	display: flex;
    }
}

.item-cart-buys{
	&__title{
		display: inline-block;
		width: 67%;
		margin-top: 10px;
		padding-right: 10%;
		@include min(992px){
			width: 74%;
		}
		@include min(1200px){
			width: 79%;
		}

		@include min(1600px){
			width: 84%;
			h4{
				font-size: 18px;
			}
		}
	}
	&__price{
		width: auto;
		@include min(1600px){
			font-size: 16px;
		}
	}
	&__img-wr{
		width: 135px;
		margin-right: 20px;
		height: 135px;
		line-height: 135px;
	}

	&__counter{
		// width: 50px;
		margin: 20px 0 0 15%;

		@include min(992px){
			margin: 20px 0 0 30%;
		}
		@include min(1200px){
			margin: 20px 0 0 40%;
		}

		@include min(1600px){
			margin: 20px 0 0 50%;
		}
	}

	&__summary{
		@include min(1600px){
			font-size: 22px;
		}
	}

	.remove-from-cart{
		top: 10px;
		font-size: 20px;
		bottom: auto;
	}
}

.buys-inf{
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	&__finish-price{
		margin-top: 0;
	}
}