@import "mobile/_main.scss";

.inf-about{
	margin-top: 100px;
	@include min(1024px){
		flex-wrap: nowrap;
	}

	.right-wr{
		@include min(1024px){
			width: 50%;
			order: 2;
		}
	}
	.left-wr{
		display: flex;
		@include min(1024px){
			order: 1;
			width: 50%;
		}
		.block-right{
			padding: 200px 0 0 0;
		}
	}


}

.item-rec-category--order .item-rec-category__title{
	padding: 60px 0 0 0;
	background-position: left top;
}

.best-solution{
	.two-imgs{
		display: inline-block;
		float: left;
		margin: 0 10px 10px 0;
	}
	.read-more{
		display: none;
	}
}




.contacts-section{
	.el-wr{
		flex-wrap: nowrap;
		justify-content: space-between;
		
	}
	&__logo, &__user-zone, &__phones, &__social{
			width: auto;
		}
	&__logo{
		width: 25%;
	}
	&__user-zone{
		width: 16%;
	}
	 &__phones{
	 	order: 4;
	 	width: 16%;
	 }
	 &__social{
	 	width: 25%;
	 }
}