@import "_icons";

*{
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	font-family: $default-font;
	-webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

a{
	color: $links-color;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #898889;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #898889;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #898889;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #898889;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder { color: transparent; }

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder { color: transparent; }

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder { color: transparent; }

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder { color: transparent; }

input{
  &.txt-input{
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid #898889;
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    min-width: 170px;
    outline: none;
    background-color: transparent;
    color: #898889;
    &--bg-white{
      border: 1px solid #fff;
      color: #898889;
      background: #fff;
    }
  }

}


.catalog .items::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background-color: #333;
}

.catalog .items::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #898898;
}

.catalog .items::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}

.catalog .items::-webkit-scrollbar-track {
  border-width: 0;
}


img{
  display: inline-block;
  max-width: 100%;
}

.hidden{
  display: none;
}

section{
  position: relative;
  text-align: center;
}

.main-wrap{
	max-width: 1200px;
	margin: 0 auto;
}
.h-simple{
  font-family: $Museo;
  font-size: 20px;
  display: block;
  // padding: 0 0 15px 0;
  position: relative;
  font-weight: 400;
  color: $grey333;
  margin-bottom: 25px;

  @include min(750px){
    font-size: 28px;
  }

  @include min(1024px){
    font-size: 35px;
  }

  &--light{
    color: #fff;
  }

  .pink{
    color: $links-color;
    text-transform: uppercase;
  }
}
.h-head{
  font-size: 20px;
  font-family: $Museo;
  display: block;
  padding: 0 0 15px 0;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: $grey333;
  @include min(750px){
    font-size: 28px;
  }
  @include min(1024px){
    font-size: 35px;
  }
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 1px;
    background: $links-color;
  }
  &--left{
    text-align: left;
    &:after{
      left: 0;
      margin-left: 0;
    }
  }
}

.btn{
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #898889;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  min-width: 170px;
  background-color: transparent;
  color: #898889;

  &:hover{
    cursor: pointer;
  }

  &--reg{
    border: 1px solid $links-color;;
    font-family: "ProximaNovaSemiBold";
    background: $links-color;
    color: #fff;
  }

  &--light{
    border: 1px solid #fff;
    color: #fff;
  }

}

.udl-link{
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #e08b97;
  }
}


.slick-arrows{
  position: absolute;
  .circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #c4c3c4;
    border-radius: 50%;
    margin-top: -2px;
    display: none;
  }
  .custom-arrow{

    display: inline-block;
    background: #c4c3c4;
    min-width: 50px;
    height: 2px;
    position: relative;
    @include min(1024px){
      min-width: 80px;
    }
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      width: 0;
      height: 0;
      border: 7px solid transparent;

      // background: $links-color;
    }
  }

  &.arrow-next{
    // right: 10px;
    .circle{
      float: right;
      margin-left: -15px;
    }
    .custom-arrow:after{
      border-left: 14px solid #c4c3c4;
      right: -5px;
      border-right: none;
    }
  }
  &.arrow-prev{
    // left: 10px;
    .circle{
      float: left;
      display: none;
      margin-right: -15px;
    }
    .custom-arrow:after{
      border-left: none;
      border-right: 14px solid #c4c3c4;
      left: -5px;
    }
  }
}