.page-cart{
    .site-header__catalog{
    	display: none;
    }
}

.cart-cont{
	padding: 10px 0 70px 0;
	.h-simple{
		margin: 0 0 10px 0;
	}
	&__subheader{
		font-family: "ProximaNovaSemiBold";
		font-size: 20px;
		// font-weight: 400;
		color: #333;
	}
}

.order-block{

	.input-group{
		margin-bottom: 15px;
	}

	.nice-select{
		padding: 0 30px 0 20px;

    	.current{
    		display: inline-block;
    		width: 100%;
    		text-overflow: ellipsis;
	    	overflow: hidden;
	    	color: #898889;
    	}
	}
}

.item-order-block{
	text-align: center;
	margin: 5px 0;
	background-color: transparent;
	transition: all .4s ease;
	&>*:not(.item-order-block__title){
		display: none;
	}
	&__title{
		color: #898889;
		text-align: left;
		font-weight: 700;
		padding: 10px 20px;
		margin-bottom: 5px;
	}

	&--active{
		&>*:not(.item-order-block__title){
			display: inline-block;
		}
		.item-order-block__title{
			color: #d34d64;
			.edit-order-block{
				display: none;
			}
		}

	}

	&--full{
		.item-order-block__title{
			display: flex;
			justify-content: space-between;
			color: #fff;
			align-items: center;
			background: $links-color;
			padding: 10px 20px;
			.edit-order-block{
				color: #fff;
				font-size: 14px;
			}
		}

	}

	.input-group{
		width: 100%;

		.select-header{
			text-align: left;
		}
	}
	.input-group--textarea{
		text-align: left;
		.textarea-header{
			margin-left: 25px;
			margin-bottom: 15px;
			text-align: left;
			display: inline-block;
			position: relative;
			cursor: pointer;
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: -6px;
				width: 90%;
				height: 1px;
				// background: $links-color;
				background-image: linear-gradient(to right, #d44e64 45%, rgba(255,255,255,0) 62%);
			    background-position: bottom;
			    background-size: 14px 1px;
			    background-repeat: repeat-x;
			}
			.fa{
				position: relative;
				left: 5px;
				top: 2px;
				color: $links-color;
			}
		}
		.fa{
			top: 50px;
		}
	}
}




.cart-buys{
	&__item{
		margin-bottom: 15px;
	}
}

.item-cart-buys{
	position: relative;
	// display: flex;
	padding-bottom: 15px;
	border-bottom: 1px solid #d2d2d2;
	
	&:after{
		content: '';
		display: flex;
		clear: both;
	}
	

	&__img-wr{
		float: left;
		padding: 10px;
		width: 84px;
		height: 84px;
		border: 1px solid #d2d2d2;
		flex-shrink: 0;
		margin-right: 10px;
		text-align: center;
		display: flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		align-items: center;
		line-height: 84px;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__right-part{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
		align-items: center;
	}

	&__title{
		width: 100%;
		color: #333;
		float: right;
		margin-bottom: 15px;
		padding-right: 15%;
		h4{
			font-weight: 400;
			margin: 0;
		}
	}

	&__price{
		font-weight: 700;
		font-size: 14px;
		margin: 30px 0 0 0;
		// width: 100%;
		float: left;
	}

	&__counter{
		position: relative;
		float: left;
		margin: 20px 0 0 10%;
		// margin-left: 20%;
		.input-el{
			width: 52px;
			max-width: 52px;
			height: 42px;
			font-size: 16px;
			text-align: center;
			color: #333;
			border-radius: 20px;
			padding: 5px 10px 5px 10px;

		}
		.num-control{
			// top: 0;
			// right: 10px;
			position: absolute;
			&.plus{
				right: -20px;
				top: 0;

			}
			&.minus{
				right: -20px;
				bottom: 0;
			}
			.fa{
				position: relative;
				left: auto;
				top: auto;
				color: #333;
				font-size: 24px;
				bottom: auto;
			}
		}
	}

	&__summary{
		float: left;
		color: $links-color;
		font-weight: 600;
		font-size: 20px;
		// margin-right: 10px;
		margin: 10px 10px 0 0;
	}

	.remove-from-cart{
		color: #898889;
		position: absolute;
		right: 0;
		bottom: 30px;
		color: #d2d2d2;
		transition: color .4s ease;
		&:hover{
			cursor: pointer;
			color: $links-color;
		}
	}

}

.buys-inf{
	&__finish-price{
		margin-top: 30px;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		 justify-content: space-between;
		.txt{
			font-size: 16px;
			margin-right: 10px;
			font-family: "ProximaNovaSemiBold";
		}
		.finish-number-price{
			.number{
				font-size: 24px;
				font-weight: 700;
			}
		}
	}

}

