.modal-success{
	 box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)  !important;
     border-radius: 30px !important;
     padding: 20px;
     height: 80px !important;
     max-width: 720px !important;;


    .success-img{
        max-width: 30px;
        margin-right: 20px;
    }
    .modal-wr{
    	display: flex;
    	align-items: center;
    	font-size: 18px;
    	font-family: $Museo;
    	color: #333;
    	justify-content: center;
    }
    .close{
    	position: absolute;
    	right: -20px;
    	top: -10px;
    	background: transparent;
    	border: 0;
    	font-size: 25px;
    	.fa{
    		color: #d2d2d2;
    	}
    }
}

.page-contacts{
	.iziModal-overlay{
		background: transparent !important;
	}
}


.login-modal, .reset-pass{
    max-width: 370px !important;;
    border-radius: 0 !important;
    .top{
        background: $purple;
        
        text-align: center;
        margin-bottom: 30px;
        .halfs{
            display: flex;
            h4{
                padding: 15px 30px;
                width: 50%;
                &.active{
                    background: #fff;
                    color: $links-color;
                }
                a{
                    color: #fff;
                }
            }
        }
        h4{
            padding: 15px 30px;
            margin: 0;
            font-size: 20px;
            font-family: "ProximaNovaSemiBold";
            color: #fff;
        }
    }

    form{
        padding: 10px 20px 30px 20px;
        text-align: center;

        .input-group{
            margin-bottom: 15px;

            .reset-pass-link{
                position: absolute;
                right: 10px;
                font-family: "MyriadPro";
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .btn{
        margin-bottom: 15px;
    }

    .close-btn{
        position: absolute;
        right: -15px;
        top: -15px;
        background: transparent;
        border: 0;
        color: #fff;
        font-size: 30px;
        transition: color .4s ease;


        &:hover{
            cursor: pointer;
            color: $links-color;
        }
    }
}


.basket-modal{
    .mfp-content{
        position: absolute;
        right: 0;
        top: 0;
    }
    .zoom-anim-dialog{
        width: 600px;
        position: absolute;
     background: #fff;
     max-width: 95% !important;
     // border-radius: 30px !important;
     padding: 50px 20px;
     right: 0;
     top: 0;
     // height: auto !important;
     left: auto;
     bottom: auto;
    }
     // box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)  !important;
     // border-radius: 0px !important;
     // width: auto !important;
     

     .btns-group{
        display: flex;
     }
}


/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out; 



    -webkit-transform: scale(0.8); 
    -moz-transform: scale(0.8); 
    -ms-transform: scale(0.8); 
    -o-transform: scale(0.8); 
    transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;

    -webkit-transform: scale(1); 
    -moz-transform: scale(1); 
    -ms-transform: scale(1); 
    -o-transform: scale(1); 
    transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8); 
    -moz-transform: scale(0.8); 
    -ms-transform: scale(0.8); 
    -o-transform: scale(0.8); 
    transform: scale(0.8); 

    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out; 
    -moz-transition: opacity 0.3s ease-out; 
    -o-transition: opacity 0.3s ease-out; 
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}



/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px);

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateX(0); 
    -moz-transform: translateX(0); 
    -ms-transform: translateX(0); 
    -o-transform: translateX(0); 
    transform: translateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;

    -webkit-transform: translateX(-10px); 
    -moz-transform: translateX(-10px); 
    -ms-transform: translateX(-10px); 
    -o-transform: translateX(-10px); 
    transform: translateX(-10px); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;

    -webkit-transition: opacity 0.3s ease-out; 
    -moz-transition: opacity 0.3s ease-out; 
    -o-transition: opacity 0.3s ease-out; 
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}