.modal-success{
	 box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)  !important;
     border-radius: 30px !important;
     padding: 20px;
     height: 80px !important;
     max-width: 720px !important;;


    .success-img{
        max-width: 30px;
        margin-right: 20px;
    }
    .modal-wr{
    	display: flex;
    	align-items: center;
    	font-size: 18px;
    	font-family: $Museo;
    	color: #333;
    	justify-content: center;
    }
    .close{
    	position: absolute;
    	right: -20px;
    	top: -10px;
    	background: transparent;
    	border: 0;
    	font-size: 25px;
    	.fa{
    		color: #d2d2d2;
    	}
    }
}

.page-contacts{
	.iziModal-overlay{
		background: transparent !important;
	}
}


.login-modal, .reset-pass{
    max-width: 370px !important;;
    border-radius: 0 !important;
    .top{
        background: $purple;
        
        text-align: center;
        margin-bottom: 30px;
        .halfs{
            display: flex;
            h4{
                padding: 15px 30px;
                width: 50%;
                &.active{
                    background: #fff;
                    color: $links-color;
                }
                a{
                    color: #fff;
                }
            }
        }
        h4{
            padding: 15px 30px;
            margin: 0;
            font-size: 20px;
            font-family: "ProximaNovaSemiBold";
            color: #fff;
        }
    }

    form{
        padding: 10px 20px 30px 20px;
        text-align: center;

        .input-group{
            margin-bottom: 15px;

            .reset-pass-link{
                position: absolute;
                right: 10px;
                font-family: "MyriadPro";
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .btn{
        margin-bottom: 15px;
    }

    .close-btn{
        position: absolute;
        right: -15px;
        top: -15px;
        background: transparent;
        border: 0;
        color: #fff;
        font-size: 30px;
        transition: color .4s ease;


        &:hover{
            cursor: pointer;
            color: $links-color;
        }
    }
}

