.page-product{

}


.product-cont{
    text-align: center;
    &__tabs-wr{
        margin: 30px 0 55px 0;
    }

    &__tabs{
        margin: 0 0 50px 0;
    }
}


.product-wr{
    &:after{
        content: '';
        display: block;
        clear: both;
    }

    &__slider, &__about, &__reviews{
        width: 100%;
        float: none;
    }
    &__about{
        .br-widget{
            text-align: left;
        }

        .h-deskr{
            text-align: left;
            color: #333;
            font-size: 20px;
        }
    }

    .h-simple{
        text-align: left;
    }
}

.product-slider-g{
    margin-bottom: 50px;
    .slick-arrows{
        &.arrow-prev{
            left: 0;
            bottom: -20px;

        } 
        &.arrow-next{
            bottom: -20px;
            right: 0;
        }
    }

    .slick-dots{
        list-style-type: none;
        position: absolute;
        bottom: -30px;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translateX(-50%);
        li{
            float: left;


            &:last-child{
                .dots-item{
                    margin-right: 0;
                }
            }

            &:hover{
                .dots-item{
                    opacity: .8;
                }
                 .dots-item--youtube{
                    opacity: 1;
                 }
            }

            .dots-item{
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 17px;
                border-radius: 50%;
                opacity: 0.3;
                background-color: #898889;
            }
            .dots-item--youtube{
                background: transparent;
                opacity: 1;
                &:after{
                    content: '\f01d';
                    font-family: "FontAwesome";
                    color: #d34d64;
                    position: relative;
                    top: -3px;
                    font-size: 20px;
                }
            }
        }
    }
}

.short-details{
    display: flex;
    justify-content: space-between;

    &__code{
        font-size: 16px;
        color: #333;
        text-align: right;

        .code{
            margin-bottom: 10px;
        }
    }
}


.reviews-inf{
    &__stars{

    }

    &__nums{
        text-align: left;
        color: #333;
        font-size: 16px;

        a{
            color: #333;
            position: relative;
            text-decoration: none;
            font-size: 16px;
            &:after{
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                height: 1px;
                background: #c6c5c5;
            }
        }
    }
}

.price-buy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    &__block-price{
        color: #333;
        font-weight: 700;
        margin-bottom: 20px;
        .num{
            font-size: 30px;
            margin-right: 8px;    
        }

        .currency{
            font-size: 16px;
        }
    }

    &__block-buy{
        width: 100%;
        .availability{
            color: #47da3c;
            font-size: 14px;
            margin-bottom: 15px;
        }
        .btn{
            width: 100%;
            max-width: 320px;
            .fa{
                font-size: 18px;
                margin: 0 10px 0 0;
            }
        }
    }
}


.delivery{
    margin: 10px 0;

    &__header, &__cont{
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
    &__header-item, &__cont-item{
        display: block;
        width: 50%;
        float: left;
         &:first-child{
            border-right: 1px solid #898889;
        }
    }
    &__header-item{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        padding: 17px 5px;

    }

    &__cont{
        border-top: 1px solid #898889;
        border-bottom: 1px solid #898889;

    }

    &__cont-item{
        padding: 15px 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img{
            margin-bottom: 20px;
            align-self: center;
        }
    }
}

.properties{
    &__table{
        width: 100%;
        tr{
            &:nth-child(odd){
                background-color: #f4f6f8;
            }
            td{
                // vertical-align: middle;
                padding: 15px 20px;
                &:first-child{
                    min-width: 110px;
                }
                &:last-child{
                    text-align: right;
                }
                &.td-with-img{
                    text-align: right;
                    img{
                        max-width: 45%;
                        display: inline-block;
                        // float: left;
                        vertical-align: middle;
                    }
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        width: 40%;
                        // float: right;
                    }
                }
                span{
                    font-size: 16px;
                    color: #333;
                }


            }
        }
    }
}